* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #111;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #00adb5;
    color: white;
    cursor: pointer;
}

/* SECTIONS */
.section {
    padding: 60px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

/* SKILLS */
.skills span {
    display: inline-block;
    background: #00adb5;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
}

/* PROJECTS */
.project {
    margin-top: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}
